body { 
	background-color: #95B3D7;
}

div {
	position:absolute;
}

select {
	margin:10px 0px 10px 2px;
	border:solid black 1px;
	border-radius: 5px;
}

textarea {
	width:90%;
	height:80%;
	margin-left:5%;
	margin-top:2%;
	resize:none;
	background-color: #EEEEEE;
}


#defaultEm {
  font-size:1em;
  float:left;
  line-height:1;
  padding:0 0 0 0;
  visibility:hidden;
}

#HTMLholder {
	visibility:hidden;
	left:-1000px;
	top:-1000px;
}
.close {
	right:2px;
	bottom:2px;
	margin: 4% 1% 1% 1%;
	font-family: Arial, Helvetica, sans-serif;
	cursor:default;
}

.close:hover {
	color:#FFFFFF;
}

.menu {
	background-color: #E6702A;
	top:45px;
	left:5px;
	width:850px;
	height:50px;
	border: 1px solid #E6702A;
	border-radius: 15px;
	box-shadow: 5px 5px 2px #888888;
	visibility:hidden;
}

.menu label {
	margin-left: 10px;
}

.menu .after {
	margin-left: 1px;
}

.leftbutton, .rightbutton {
	position:static;
	background-color: #E6702A;
	margin:5px 2px 2px 2px;
	width:70px;
	text-align:center;
	height:25px;
	border: 1px solid #E6702A;
	border-radius: 15px;
	box-shadow: 5px 5px 2px #888888;
	cursor:default;
}

.leftbutton {
	float:left;
}

.rightbutton {
	float:right;
}

.leftbutton:hover {
	background-color: #4F801F;
	border:1px solid #4F801F;
	color:#FFFFFF;
}

.rightbutton:hover {
	background-color: #4F801F;
	border:1px solid #4F801F;
	color:#FFFFFF;
}

.smallbutton {
	position:static;
	float:left;
	background-color: #C6500A;
	margin:10px 15px 2px 10px;
	color:#FFFFFF;
	width:80px;
	text-align:center;
	height:20px;
	border: 1px solid #C6500A;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #888888;
	cursor:default;
}

.smallbutton:hover {
	background-color: #4F801F;
	border:1px solid #4F801F;
	color:#FFFFFF;
}

#logo {
	position: absolute;
	left:15px;
	top:10px;
}

#menubox {
	left:115px;
	top:10px;
	width:960px;
	height:50px;
}

#gridframe {
	left:115px;
	top:70px;
	width:979px;
	height:540px;
	border:solid 1px black;
	background-color:#EEEEEE;
	overflow: auto;
}

#gridbox {
	left:0px;
	top:0px;
	width:960px;
	height:1920px;
	background-color:#CCCCCC;
}

#contbox div {
	position:static;
	opacity:0.4;
}
#topspacer {
	display:block;
	width:100%;
}

#leftspacer {
	display:block;
	font-size:1pt;
	float:left;
}

#menugrid select {
	width:40px;
	text-align: center;
}

#rowH {
	width:100px;
}

#menustate {
	width:350px;
}



.edit {
	top:100px;
	left:5px;
	width:850px;
	height:400px;
	border:solid 1px black;
	background-color:#E6702A;
	border: 1px solid #E6702A;
	border-radius: 15px;
	box-shadow: 5px 5px 2px #888888;
	visibility:hidden;
}

#containeredit, #containerimage, #bodyedit {
	top:-3px;
	left:990px;
	width:220px;
	height:600px;
}

#containeredit label, #containerimage label, #bodyedit label {
	margin-left:5%;
}
#containeredit span, #containerimage span, #bodyedit span {
	margin-left:5%;
	font-weight: bold;
}
#leftarr, #rightarr {
	font-size:20pt;
	color:#888888;
}
#leftarr:hover, #rightarr:hover {
	color:#000000;
	cursor: pointer;
}

#backColor, #fontColor, #bodyColor, #marginColor {
	display:block;
	width:180px;
	background-color: #FF0000;
}

#backColor div, #fontColor div, #bodyColor div, #marginColor div {
	position:static;
	float:left;
	margin-left:1px;
	margin-bottom:1px;
	width:8px;
	height:8px;
	font-size: 1pt;
	border: solid 1px #DDDDDD;
	background-color: #4F801F;
}

#backColor div:hover, #fontColor div:hover, #bodyColor div:hover, #marginColor div:hover {
	border:solid black 1px;
}

.colchange {
	opacity:0.5;
	cursor: pointer;
}

#containeredit .colchange,  #bodyedit .colchange {
	margin:1px;
}

#containeredit .coldiv,  #bodyedit .coldiv {
	display: block;
	float:right;
	margin-right:5px;
	margin-top:8px;
	width:8px;
	height:8px;
	font-size: 1pt;
	border: solid 1px #000000;
	background-color: #FF0000;
}

.colchange:hover {
	opacity:1;
}

#containeredit .fontType {
	margin-left:10px;
	width:20px;
	box-shadow: 3px 3px 2px #FFFFFF;
}

#containeredit #bold {
	margin-left:30px;
}

#containeredit li label, #containerimage li label {
	position:relative;
	display:inline-block;
	width:100px;
	
}

#containeredit .after, #containerimage .after {
	margin-left:2px;
	width:10px;
}

#containeredit  input {
	text-align:right;
}

#containeredit  ul, #containerimage  ul {
	list-style-type: none;
	margin-left: 0px;
  	padding-left: 0px
}


#containeredit li input, #containerimage li input {
	text-align:right;
	position:relative;
	left:1px;
}

#containeredit #bold {
	font-weight:bold;
	cursor: pointer;
}

#containeredit #italic {
	font-weight:normal;
	font-style:italic;
	cursor: pointer;
}

#containeredit #underline {
	font-weight:normal;
	text-decoration:underline;
	cursor: pointer;
}

#fonttype option {
	font-size: 8pt;
}


.imgPosit, .alignPosit, #gap {
	display:block;
	float:left;
	margin-left:1%;
	margin-right:1%;
	margin-top:2%;
	margin-bottom:2%;
	width:42px;
	height:42px;
	border: solid 1px #FFFFFF;
	cursor:pointer;
}

.alignPosit, #gap {
	width:20px;
	height:17px;
}

#gap {
	cursor:default;
}

.imgPosit:hover, .alignPosit:hover {
	border: solid 1px #666666;
}

#menucontent {
	top:45px;
	height:450px;
}

#menucontent span, #menuHTML span, #menusaved span {
	display:block;
	float:left;
	margin-top:-1.5%;
	margin-left:5%;
	margin-bottom:-1.5%;
	font-size:32pt;
	cursor:default;
	color:#CCCCCC;
}

#menucontent label {
	font-size:12pt;
}

#menucontent span:hover, #menuHTML span:hover {
	color:#000000;
}

#tabright, #Ttabright {
	margin-left:10%;
}

#menucontent #instruct {
	font-size:12pt;
	color:#000000;
	margin-top:25px;
	margin-left:220px;
	background-color: #EEEEEE;
}

#menusaved #infile {
	width:90%;
	height:80%;
	margin-left:5%;
	margin-top:2%;
	background-color:#FFFFFF;
	border:solid 1px #CCCCCC;
}

#menusaved span {
	font-size:12pt;
	margin-top:5px;
	color:#000000;
}

#statetable input:hover, #contenttable input:hover {
	background-color:#FFFFFF;
}

.back {
	top:5%;
	margin-left:5%;
	width:90%;
	height:80%;
	background-color:#FFFFFF;
	border-radius: 10px;
}

#contback {
	height:90%;
}


.tablemenu {
	top:85%;
	margin-left:5%;
	width:90%;
	height:2%;
}

.statecontent {
	display:block;
	margin:2px 2px 2px 15px;
	width:70%;
	background-color:#DDDDDD;
	border: 1px solid black;
	float:left;
	padding-left: 4px;
}

.statebreak {
	display:block;
	margin:2px 2px 2px 2px;
	width:20%;
	background-color:#DDDDDD;
	border: 1px solid black;
	float:left;
	padding-right: 4px;
	text-align: right;
}

#addstate, #delstate {
	visibility:hidden;
}

#content, #break {
	background-color:#666666;
	color:#FFFFFF;
}

.editbutton {
	position:static;
	background-color: #C6500A;
	margin:5px 2px 2px 6px;
	width:150px;
	text-align:center;
	height:25px;
	border: 1px solid #C6500A;
	border-radius: 15px;
	box-shadow: 5px 5px 2px #888888;
	cursor:default;
	float:left;
}

.editbutton:hover {
	background-color: #4F801F;
	border:1px solid #4F801F;
	color:#FFFFFF;
}

#imgurl {
	text-align: left;
}

#advertbox {
	left:1185px;
	top:10px;
	width:160px;
	height:600px;
	background-color: red;
	border:solid 1px black;
	
}
